# Python derleme dosyalarını yoksay
__pycache__/
*.pyc

# Excel ve CSV verilerini yoksay (Veri tabanını yükleme)
*.xlsx
*.csv
CSV_Verileri/
Excel_Verileri/
~$*

# Sanal ortam klasörleri (varsa)
venv/
env/